body{
  background-color: darkgreen;
}
.middleBox{
  text-align: center;
  top: 5%;
  left: 10%;
  /* bottom: 10%;
  right: 10%; */
  min-height: 650px;
  min-width: 750px;
  max-width: 80%;
  max-height: 80%;
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: lightgray;
}
.gameButtons{
  background-color: white;
  border-radius: 8px;
  width: 150px;
  text-align: center;
  position: relative;
}
.boardSweeperEZ{
  background-color: beige;
  height: 575px;
  width: 575px;
  margin: 0 auto;
  top: 37px;
  position: relative;
}
